// colours
$black: #000000;
$white: #ffffff;

$blue1: #81C3D7;
$blue2: #3A7CA5;
$blue3: #16425B;

// breakpoints
$mobile: 560px;
$tablet: 768px;
$laptop: 960px;
$desktop: 1400px;

// fonts
$poppins: "Poppins", sans-serif;
